
footer {
    display: none;
}

hr {
    display: none;
}

.search-filter-container {
    height: auto; 
    min-height: calc(100vh - 120px);
    overflow: visible;
}

.search-container {
    height:100%;
    display:flex;
}

.search-container-left {
    width: 70%; 
    height: 100%; 
    padding-right: 1em;
}

.tool-search-input {
    width: 100%; 
    height: 40px; 
    border-radius: 10px; 
    border: solid 1px gray; 
    margin-bottom: 1em; 
    padding-left: 1em; 
    padding-right: 1em;
}

.results-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: max-content max-content max-content max-content; 
    overflow-y: auto; 
    height: calc(100vh - 120px);
    padding: 1em;
}

#text-results-container {
    overflow-y: scroll; 
    height: auto;
    width: 100%;
}

.filters-container {
    height: calc(100vh - 80px);
    width: 30%; 
    font-size: small; 
    overflow-y: scroll;
}

.filters-container-mobile {
    display: none;
    position: relative;
    background-color: white;
    padding-bottom: 2em;
    width: 100%;
    max-height: 20em;
    overflow-y: scroll;
}

.filter-button {
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1.1em;
    left: 0.4em;
    width: 2.25em;
    height: 2.25em;
}

details.filter-dropdown {
    padding: 0em !important;
    border: none;
    margin-bottom: 0em;
}

.result-tile {
    background-color: #AAD5E1; 
    padding: 10px; 
    border-radius: 10px; 
    margin: 5px; 
    height: auto;
}

.result-link {
    font-family: Arial; 
    font-size: 18px; 
    line-height: 1.25; 
    font-weight: bold; 
    display: block;
}

.result-image {
    background-color: white;
}

.result-title {
    margin-top: 5px; 
    margin-bottom: 0px; 
    font-family: Arial; 
    font-size: 18px; 
    line-height: 1.25; 
    display:block;
}

.result-details {
    margin: 0px; 
    font-family: Arial; 
    font-size: 13px;
    line-height: 1.5em;
}

.text-list-result {
    color:#0d5d78;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.text-list-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:1em !important;
}

ul > li::before {
    position: relative !important;
    font-size: larger;
    margin-left: -1em !important;
}

ul > li {
    margin: unset;
}

@media only screen and (max-width: 750px) {
    body {
        overflow-y: scroll;
    }

    .main-content-wrap {
        padding-top: 0; 
    }

    .search-filter-container {
        height: 100%;
    }
    
    .search-container {
        display: block;
    }

    .search-container-left {
        width: 100%;
        height: 100%;
        padding-right: 0em;
    }

    .results-container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: max-content;
        overflow-y: auto;
        height: auto;
    }

    .filter-button {
        display:block;
    }

    .tool-search-input {
        padding-left: 3em;
    }

    .filters-container {
        display: none;
    }

    .mobile-search-container {
        position: sticky;
        top: 0em;
        padding-top: 1em;
        background-color: white;
    }
}
